<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
       integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
       crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Bus Tracker</title>
</head>
<body style="background-color: rgb(71, 69, 69);">
    <h1 style="text-align: center; color: rgb(7, 28, 122);">City Bus Tracker</h1>
    <div id="mapid" style="width: 100%; height: 550px; align-content: center;"></div>
    <script>
        var mymap = L.map('mapid').setView([-29.883333, 31.049999], 14);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1Ijoic2Jvbmlzb2dvcmRvbm16aXppIiwiYSI6ImNrcDJ4cjRscTBhNGEydW1rc2NzeW94OG4ifQ.qX92TtdYdCAJVSkjtguZsg'
        }).addTo(mymap);
        /*L.marker([-29.85641, 31.03621]).addTo(mymap);
        var marker1 = L.marker([-29.859040816719176,31.02666735649109]).addTo(mymap);
        */
        cityLineBusMarker1 = []
        circleLineBusMarker1 = []
        beachLineBusMarker1 = []
        cityLineBusMarker2 = []
        circleLineBusMarker2 = []
        beachLineBusMarker2 = []

        //CityLine EnventListener
        var source1 = new EventSource('/topic/cityLineBuses');
         source1.addEventListener('message',function(e){
            
            var varsting = e.data.split(" ");
            if(varsting[1] === "Bus600city"){
                console.log(varsting);
            
                obj = JSON.parse(varsting[0]);
            
                for(var i = 0; i < cityLineBusMarker1.length; i++){
                    mymap.removeLayer(cityLineBusMarker1[i]);
                }
               
                var marker1 = L.marker([obj[1],obj[0]]).addTo(mymap);
                cityLineBusMarker1.push(marker1);
            
           }
           if(varsting[1] === "Bus500city"){
                console.log(varsting);
            
                obj = JSON.parse(varsting[0]);
            
                for(var i = 0; i < cityLineBusMarker2.length; i++){
                    mymap.removeLayer(cityLineBusMarker2[i]);
                }
               
                var marker1 = L.marker([obj[1],obj[0]]).addTo(mymap);
                cityLineBusMarker2.push(marker1);
            
           }
        },false);

        //CircleLine EnventListener
        var source2 = new EventSource('/topic/circleLineBuses');
         source2.addEventListener('message',function(e){
            
            var varsting = e.data.split(" ");
            if(varsting[1] === "Bus400circle"){
                console.log(varsting);
            
                obj = JSON.parse(varsting[0]);
            
                for(var i = 0; i < circleLineBusMarker1.length; i++){
                    mymap.removeLayer(circleLineBusMarker1[i]);
                }
               
                var marker1 = L.marker([obj[1],obj[0]]).addTo(mymap);
                circleLineBusMarker1.push(marker1);
            
           }
           if(varsting[1] === "Bus300circle"){
                console.log(varsting);
            
                obj = JSON.parse(varsting[0]);
            
                for(var i = 0; i < circleLineBusMarker2.length; i++){
                    mymap.removeLayer(circleLineBusMarker2[i]);
                }
               
                var marker1 = L.marker([obj[1],obj[0]]).addTo(mymap);
                circleLineBusMarker2.push(marker1);
            
           }
            
        },false);

        //BeachLine EnventListener
        var source3 = new EventSource('/topic/beachLineBuses');
         source3.addEventListener('message',function(e){
            
            var varsting = e.data.split(" ");
            if(varsting[1] === "Bus200beach"){
                console.log(varsting);
            
                obj = JSON.parse(varsting[0]);
            
                for(var i = 0; i < beachLineBusMarker1.length; i++){
                    mymap.removeLayer(beachLineBusMarker1[i]);
                }
               
                var marker1 = L.marker([obj[1],obj[0]]).addTo(mymap);
                beachLineBusMarker1.push(marker1);
            
           }
           if(varsting[1] === "Bus100beach"){
                console.log(varsting);
            
                obj = JSON.parse(varsting[0]);
            
                for(var i = 0; i < beachLineBusMarker2.length; i++){
                    mymap.removeLayer(beachLineBusMarker2[i]);
                }
               
                var marker1 = L.marker([obj[1],obj[0]]).addTo(mymap);
                beachLineBusMarker2.push(marker1);
            
           }
            
        },false);

       
        



    </script>
</body>
</html>