<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
       integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
       crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Durban City Bus Tracker</title>
</head>
<body>
    <h1>Durban City Bus Tracker</h1>
    <div id="mapid" style="width: 1400px; height: 900px; "></div>
    <script>
        var mymap = L.map('mapid').setView([-29.883333, 31.049999], 14);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1Ijoic2Jvbmlzb2dvcmRvbm16aXppIiwiYSI6ImNrcDJ4cjRscTBhNGEydW1rc2NzeW94OG4ifQ.qX92TtdYdCAJVSkjtguZsg'
        }).addTo(mymap);
        /*L.marker([-29.85641, 31.03621]).addTo(mymap);
        var marker1 = L.marker([-29.859040816719176,31.02666735649109]).addTo(mymap);
        */
        cityLineBusMarker = []
        circleLineBusMarker = []
        beachLineBusMarker = []

        var source1 = new EventSource('/topic/beachLineBuses');
         source1.addEventListener('message',function(e){
            
            console.log("Message");
            obj = JSON.parse(e.data);
            console.log(typeof obj);
            console.log(obj);
            
            for(var i = 0; i < cityLineBusMarker.length; i++){
                mymap.removeLayer(cityLineBusMarker[i]);
            }
               
            var marker1 = L.marker([obj[1],obj[0]]).addTo(mymap);
            cityLineBusMarker.push(marker1);
            
        },false);
        var source2 = new EventSource('/topic/circleLineBuses');
         source2.addEventListener('message',function(e){
            
            console.log("Message");
            obj = JSON.parse(e.data);
            console.log(typeof obj);
            console.log(obj);
            
            for(var i = 0; i < circleLineBusMarker.length; i++){
                mymap.removeLayer(circleLineBusMarker[i]);
            }
               
            var marker1 = L.marker([obj[1],obj[0]]).addTo(mymap);
            circleLineBusMarker.push(marker1);
            
        },false);

        var source3 = new EventSource('/topic/beachLineBuses');
         source3.addEventListener('message',function(e){
            
            console.log("Message");
            obj = JSON.parse(e.data);
            console.log(typeof obj);
            console.log(obj);
            
            for(var i = 0; i < beachLineBusMarker.length; i++){
                mymap.removeLayer(beachLineBusMarker[i]);
            }
               
            var marker1 = L.marker([obj[1],obj[0]]).addTo(mymap);
            beachLineBusMarker.push(marker1);
            
        },false);
        



    </script>
</body>
</html>